* {
  margin: 0px;
  padding: 0px;
}
#root {
  background-color: aquamarine;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
}
