* {
  margin: 0px;
  padding: 0px;
}
#root {
  background-color: aquamarine;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
button {
  width: 50px;
  font-size: larger;
}
button:hover {
  background-color: aqua;
}
